$backgroundColor: #212121;
$selectionBackgroundColor: #636363;
$hoverBackgroundColor: #424242;
$fieldBackgroundColor: #323232;
$modalBackground: 60;
$modalOpacity: 0.4;

$successBorderColor: chartreuse;
$infoBorderColor: #9d9d9d;
$basicBorderColor: white;
$specialBorderColor: darkorange;
$selectionBorderColor: #c0c0c0;
$hoverBorderColor: white;

$basicTextColor: white;
$specialTextColor: darkorange;
$successTextColor: chartreuse;
$infoTextColor: #a0a0a0;

$margin: 7px;
$padding: 8px;
$hoverPadding: 6px;
$borderRadius: 10px;
$fieldBorderRadius: 5px;
$borderSize: 1px;
$hoverBorderSize: 3px;
$fieldBorderSize: 2px;
