@import '../variables';

.name {
  color: $basicTextColor;
  border: $borderSize solid $basicBorderColor;
  border-radius: $borderRadius;
  margin: $margin;
  padding: $padding;

  &:hover {
    border: $hoverBorderSize solid $hoverBorderColor;
    background-color: $hoverBackgroundColor;
    padding: $hoverPadding;
  }
    
  &.selected {
    border: $hoverBorderSize solid $selectionBorderColor;
    background-color: $selectionBackgroundColor;
    padding: $hoverPadding;
      
    &:hover {
      border-color: $hoverBorderColor;
    }
  }
}
.nick {
  color: $specialTextColor;
}